:root {
  --font-size-sm: 12px;
  --font-size-reg: 14px;
  --font-size-md: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 26px;

  --white-color: #e6f3f2;
  --gray-color: #abadb8;
  --turquoise-color: #5de5e8;
  --purple-color: #8f3bb7;
  --red-color: #d44d4d;

  --growth-positive-color: #57c2f1;
  --growth-negative-color: #c058f1;
}
