.top-cities-distribution {
  flex: 1 1 0;

  :global {
    .box {
      padding: 24px;
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;

  &-item {
    display: flex;
    gap: 10px;
    align-items: center;

    span {
      flex-shrink: 0;

      &:first-of-type {
        width: 70px;
      }

      &:last-of-type {
        width: 45px;
      }
    }
  }
}
